<div class="admin" ng-if="a.isAdmin">
  <h1><span ng-click="a.select('skaters'); a.show.table = true;" ng-class="{'selected': a.show.table}" >SKATERS</span> <span ng-click="a.select('add'); a.show.addSkater = true;" ng-class="{'selected': a.show.addSkater}">ADD</span></h1>

  <div ng-show="a.show.table" class="ctrls">
    <div class="sort">
      <a href="">Sort By:</a>
      <select ng-model="a.sort">
        <option value="name">Name</option>
        <option value="rankId">Rank</option>
      </select>
      <div ng-init="a.reverse=false;" ng-click="a.reverse = !a.reverse" ng-class="{'caret_down': !a.reverse, 'caret_up': a.reverse}"></div>
    </div>

    <p>
      <a href=""
      ng-init="a.type = 'all'"
      ng-click="a.type = 'pending'">Pending</a>
    </p>
    <p>
      <a href="" ng-click="a.type = 'current'">Current</a>
    </p>
    <p>
      <a href="" ng-click="a.type = 'all'">All</a>
    </p>

  </div>
  <table ng-show="a.show.table">
    <thead>
      <tr>
        <th>Photo</th>
        <th>User</th>
        <th>Derby Name</th>
        <th>#</th>
        <th>Team</th>
        <th>Rank</th>
        <th>Admin</th>
        <th colspan="2">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="skater in a.skaters | orderBy : a.sort : a.reverse | type : a.type"
      ng-class="{'stripe': $even}">
        <td ng-init="a.edit[skater.id]=true" ng-show="a.edit[skater.id]"><img ng-src={{skater.photo}} alt=""></td>
        <td ng-show="a.edit[skater.id]">{{skater.userName}}</td>
        <td ng-show="a.edit[skater.id]"><a href="/#/skaters/{{skater.id}}">{{skater.derbyName}}</a></td>
        <td ng-show="a.edit[skater.id]">{{skater.number}}</td>
        <td ng-show="a.edit[skater.id]">{{skater.team.teamName}}</td>
        <td ng-show="a.edit[skater.id]">{{skater.rank.name}}</td>
        <td ng-show="a.edit[skater.id]">{{skater.admin}}</td>
        <td ng-show="a.edit[skater.id]"><a href="" ng-click="a.edit[skater.id]=false">edit</a></td>
        <td ng-show="a.edit[skater.id]"><a href="" ng-click="a.deletePrompt(skater)">delete</a></td>

<!-- EDIT -->
        <form
        ng-hide="a.edit[skater.id]" accept-charset=""action="">
          <td ng-hide="a.edit[skater.id]">
            <img ng-src={{skater.photo}}>
          </td>
          <td ng-hide="a.edit[skater.id]">{{skater.userName}}</td>
          <td ng-hide="a.edit[skater.id]">
            {{skater.derbyName}}"
          </td>
          <td ng-hide="a.edit[skater.id]">
            {{skater.number}}
          </td>
          <td ng-hide="a.edit[skater.id]">
            <select
              ng-model="a.data.skaters[skater.id].team"
              ng-options="team as team.teamName for team in a.teams track by team.id">
            </select>
          </td>
          <td ng-hide="a.edit[skater.id]">
            <select
            ng-model="a.data.skaters[skater.id].rank"
            ng-options="rank as rank.name for rank in a.ranks track by rank.id">
            </select>
          </td>
          <td ng-hide="a.edit[skater.id]">
            <input type="checkbox"
            ng-model="a.data.skaters[skater.id].admin"
            ng-init="a.data.skaters[skater.id].admin = skater.admin">
          </td>
          <td ng-hide="a.edit[skater.id]"
            ng-click="a.editSkater(skater.id)"><a href="">submit</a>
          </td>
          <td ng-hide="a.edit[skater.id]">
            <a href="" ng-click="a.edit[skater.id] = true">cancel</a>
          </td>
        </form>

      </tr>
    </tbody>
  </table>

<!-- ADD SKATER -->
  <div class="newSkater" ng-show="a.show.addSkater">
    <form ng-submit="a.newSkater()">
      <div>
        <label for="">User Name: </label>
        <input type="text" ng-model="a.new.userName">
      </div>
      <div>
        <label for="">Password: </label>
        <input type="password"
          ng-model="a.new.password">
      </div>
      <div>
        <label for="">Confirm Password: </label>
        <input type="password"
          ng-model="a.new.passwordConfirm">
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
    <p ng-show="a.passMissMatch" class="passWarning">Passwords do not match!</p>
  </div>

  <div class="warning" ng-show="a.show.warning">
    <p>Really delete {{a.kill.derbyName}}?</p>
    <div class="buttons">
      <button type="button" ng-click="a.whoops()">Whoops</button>
      <button ng-click="a.delete(a.kill)" type="button">Bye, Felicia</button>
    </div>
  </div>
</div>

<div ng-if="!a.isAdmin" style="width: 100%; display: flex; justify-content: center;">
  <img src="https://http.cat/401.jpg" alt="">
</div>
