<main>
  <div class="join">

    <div class="info" ng-show="j.show == 'intro' ">
      <h1>SKATE OR DIE</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <input type="button" ng-click="j.show = 'questions' " value="SKATE!" >
    </div>

    <form ng-submit="j.submit()" ng-show="j.show == 'questions' ">
      <label for="">Briefly describe your derby/skating experience ( none is ok! )</label>
      <textarea name="xp" rows="8" cols="80" ng-model="j.xp"></textarea>

      <div class="fields">
        <fieldset>
          <label for="">User Name: </label>
          <input type="text" ng-model="j.userName" value="">
        </fieldset>
        <fieldset>
          <label for="">Password: </label>
          <input type="password" ng-model="j.password">
        </fieldset>
        <fieldset>
          <label for="">Confirm Password: </label>
          <input type="password" ng-model="j.passwordConfirm">
        </fieldset>
        <fieldset>
          <label for="">Phone Number: </label>
          <input type="tel" ng-model="j.tel" value="">
        </fieldset>
        <fieldset>
          <label for="">Email: </label>
          <input type="email" ng-model="j.email" value="">
        </fieldset>
      </div>

      <p>Do you own a pair of quad rollerskates?</p>
      <div class="radio" ng-init="j.hasSkates = null">
        <label for="">Yes</label>
        <input type="radio" name="hasSkates" ng-click="j.hasSkates=true" value="true">
        <label for="">No</label>
        <input type="radio" name="hasSkates" ng-click="j.hasSkates=false" value="false">
      </div>

      <p>Do you have pads (elbow, knee, wrist, helmet, and mouthgaurd)?</p>
      <div class="radio" ng-init="j.hasPads = null;">
        <label for="">Yes</label>
        <input type="radio" name="hasPads" ng-click="j.hasPads = true" value="true">
        <label for="">No</label>
        <input type="radio" name="hasPads" ng-click="j.hasPads = false" value="false">
      </div>
      <input type="submit">
      <p class="passWarning" ng-show="j.passMatch">Passwords do not match</p>
    </form>

    <div ng-show="j.show == 'thanks' ">
      <h1>Thanks for signing up!</h1>
      <p>We'll reach out to to you soon!</p>
      <p>In the meantime, feel free to check out our <a href="https://www.facebook.com/ATXAnarchy/">Facebook Page</a> for more information.</p>
    </div>
  </div>
</main>
