<!-- this is everything inside the ng-view in index.html. -->
<!-- see 15_Week/tea for help... -->
<main>
  <div class="profile">
    <section class="info">
      <h1>PROFILE</h1>
      <img class="userimg" ng-src={{p.profile.photo}}>
      <ul>
        <li>NAME: <span>{{p.profile.derbyName}} #{{p.profile.number}}</span></li>
        <li>TEAM: <span>{{p.profile.team.teamName}}</span></li>
        <li>FAV POSITION: <span>{{p.profile.favPosition}}</span></li>
      </ul>
      <a href="#">edit</a>
    </section>

    <section class="gear">
      <h1>GEAR</h1>
        <ul>
          <li>
            SKATES: Brand <a ng-click="rev=!rev" ng-hide="rev">review</a>
            <div class="review" ng-init="rev=false" ng-show="rev">

              <hr>
              <p><img src="img/shoe.png" alt="">This is my second pair of skates, and they’re a lot more comfortable than my other pair.</p>
              <p>Lorem Khaled Ipsum is a major key to success. Hammock talk come soon. Special cloth alert. Surround yourself with angels.</p>
              <a href="#">edit</a>
              <hr>

              <a class="right" ng-click="rev = !rev">hide review</a>
            </div>
          </li>
          <li>WHEELS: Brand <a href="#">review</a></li>
          <li>BEARINGS: Brand <a href="#">review</a></li>
        </ul>
    </section>

    <section class="window">
      <!-- <h1>BIO <span>GALLERY</span></h1> -->
      <h1>BIO</h1>
      <div class="box">
        <p>{{p.profile.summary}}</p>
        <a href="#">edit</a>
      </div>
    </section>
  </div>
</main>
