<!-- this is everything inside the ng-view in index.html. -->
<!-- see 15_Week/tea for help... -->
<header>
  <div class="logo">
    <img src="img/logo.png">
    <span>
      AUSTIN ANARCHY
      <img src="img/star_icon.png">
      MEN'S ROLLER DERBY
    </span>
  </div>
  <ul>
    <li><a href="#">Sign Out</a></li>
  </ul>
</header>

<nav>
  <ul>
    <li>link</li>
    <li><a href="#">link2</a></li>
    <li><a href="#">link3</a></li>
  </ul>
</nav>

<main>
  <div class="profile">
    <section class="info">
      <h1>PROFILE</h1>
      <img src="http://fillmurray.com/200/200">
      <ul>
        <li>NAME: <span>Wombo Combo #7</span></li>
        <li>TEAM: <span>Legion</span></li>
        <li>FAV POSITION: <span>Jammer</span></li>
      </ul>
      <a href="#">edit</a>
    </section>

    <section class="gear">
      <h1>GEAR</h1>
        <ul>
          <li>
            SKATES: Brand <a ng-click="rev=!rev" ng-hide="rev">review</a>
            <div class="review" ng-init="rev=true" ng-show="rev">

              <hr>
              <p><img src="img/shoe.png" alt="">This is my second pair of skates, and they’re a lot more comfortable than my other pair.</p>
              <p>Lorem Khaled Ipsum is a major key to success. Hammock talk come soon. Special cloth alert. Surround yourself with angels.</p>
              <a href="#">edit</a>
              <hr>

              <a class="right" ng-click="rev = !rev">hide review</a>
            </div>
          </li>
          <li>WHEELS: Brand <a href="#">review</a></li>
          <li>BEARINGS: Brand <a href="#">review</a></li>
        </ul>
    </section>

    <section class="window">
      <!-- <h1>BIO <span>GALLERY</span></h1> -->
      <h1>BIO</h1>
      <div class="box">
        <p>Lorem Khaled Ipsum is a major key to success. Hammock talk come soon. Special cloth alert. Surround yourself with angels. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. Look at the sunset, life is amazing, life is beautiful, life is what you make it.</p>
        <p>The key to more success is to have a lot of pillows. The key to more success is to have a lot of pillows. They never said winning was easy. Some people can’t handle success, I can. It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live rough? The key is to drink coconut, fresh coconut, trust me.</p>
        <a href="#">edit</a>
      </div>
    </section>
  </div>
</main>
