@font-face {
  font-family: 'tanek';
  src: url('../font/Tanek.otf');
}

@font-face {
  font-family: 'rockSalt';
  src: url('../font/RockSalt.ttf');
}

@mixin h1Tabs {
  h1 {
    span {
      cursor: pointer;
      color: $greyed;
      &:hover {
        color: $blood_select;
      }
    }
    .selected {
      color: white;
      cursor: default;
      &:hover {
        color: currentColor;
      }
    }
  }
}



$greyed: #4A4A4A;
$blood: #BA141A;
$blood_select: #BA5C60;
$main_grey: rgb(20,20,20);

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'tanek', helvetica, sans-serif;
  h1 {
    font-weight: normal;
  }
  .noClick {
    color: white;
    &:hover {
      color: white;
    }
  }
  .stripe {
    background-color: $main_grey;
  }
  .jumbo {
    font-size: 4em;
  }
  a {
    color: $blood;
    font-size: .8em;
    text-decoration: none;
    &:hover {
      color: $blood_select;
    }
  }
  hr {
    // border-bottom: 1px solid #979797;
    border: none;
    height: 1px;
    background-color: $greyed;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

header {
  padding: 5px 10px;
  .logo {
    display: inline;
    font-size: 2em;
    > img {
      height: 30px;
      display: inline;
    }
    span>img{
      position: relative;
      margin-bottom: 5px;
    }
  }
  .error {
    color: $blood;
    text-transform: lowercase;
    font-size: .7em;
    position: absolute;
    margin: 20px 0 0 65px;
    display: inline-block;
  }
  ul {
    margin: 0;
    float: right;
    li {
      margin-left: 20px;
      display: inline;
      a {
        font-size: 1em;
        color: white;
        font-family: 'rockSalt', helvetica, sans-serif;
      }
    }
  }
}

nav {
  // border-top: 1px solid $blood;
  border-bottom: 1px solid $blood;
  border-left: 1px solid $blood;
  a {
    font-size: 1em;
    text-transform: uppercase;
  }
  ul {
    padding-left: 40px;
    margin: 15px 0 1px 0;
    li {
      display: inline;
      margin-right: 20px;
      text-transform: uppercase;
    }
  }
}

main {
  background-color: $main_grey;
  padding: 10px 30px;
}

@mixin caret {
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  top: 5px;
  right: -25px;
  z-index: 9999;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include h1Tabs;
  .newSkater {
    div {
      margin: 15px 0;
    }
    .passWarning {
      color: $blood;
      text-align: center;
    }
  }
  .sort {
    position: relative;
    display: block;
    .caret_up {
      @include caret;
      border-bottom: 12px solid $blood;
      &:hover{
        border-bottom-color: $blood_select;
      }
    }
    .caret_down {
      @include caret;
      border-top: 12px solid $blood;
      &:hover{
        border-top-color: $blood_select;
      }
    }
  }
  .warning{
    width: 30%;
    p {
      font-size: 1.5em;
      text-align: center;
    }
    .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
    }
  }
  .ctrls {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $greyed;
    border-bottom: 1px solid $greyed;
    margin-bottom: 16px;
    p {
      margin: 8px 0;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    tbody > tr:hover {
      border-top: 1px solid $blood;
      border-bottom: 1px solid $blood;
    }
    width: 80%;
    img {
      height: 75px;
    }
    thead > tr {
      margin-bottom: 10px;
    }
    th {
      text-align: left;
      font-size: 1.3em;
    }
  }
}

.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1, h3 {
    text-transform: uppercase;
  }
  .skaters {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &:hover {
      background-color: $blood;
    }
    img {
      height: 75px;
      margin: 5px;
    }
    p {
      font-family: 'rockSalt';
      font-size: 2em;
      margin: 4px 10px 4px 10px;
    }
  }
}

.join {
  p {
    font-size: 1.3em;
    max-width: 50%;
  }
  .info, form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    .fields {
      width: 502px;
    }
    fieldset {
      padding-left: 0;
      border: none;
    }
    input[type="submit"]{
      margin-top: 10px;
    }
    margin-top: 30px;
    .radio {
      input {
        margin-right: 15px;
      }
    }
    label {
      font-size: 1.3em;
      margin: 10px 0;
    }
  }
  h1 {
    font-size: 3em;
    margin-bottom: 16px;
  }
}


.splash{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px;

  h1 {
    z-index: 2;
    color: white;
    font-size: 3em;
    font-weight: normal;
  }
  div {
    position: absolute;
    margin-left: 40px;
    max-width: 30%;
    p {
      font-size: 1.5em;
      margin-bottom: 7px;
    }
    a {
      font-size: 1em;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('/img/anarchy.jpg');
    background-size: cover;
    // background-position-y: -50px;
    background-repeat: no-repeat;
    z-index: -2;
  }
  &:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0));
    content: '';
    width: 50%;
    height: 100%;
  }
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .userimg {
    height: 200px;
  }
  img {
    border: 3px solid white;
  }
  section{
    max-width: 33%;
    min-width: 260px;
  }
  .info {
    ul {
      list-style-type: none;
      span {
        font-family: 'rockSalt', helvetica, sans-serif;
        margin-left: 5px;
      }
    }
  }
  .gear {
    @include h1Tabs;
    ul {
      li {
        clear: both;
        margin-bottom: 10px;
        span {
          text-transform: uppercase;
        }
        .right {
          float: right;
        }
      }
    }
    .review {
      a {
        display: block;
        clear: both;
        margin-top: 10px;
      }
      p > img {
        float: left;
        margin: 0 10px 0 0;
        max-height: 70px;
        border: 2px solid white;
        padding: 2px;
      }
    }
  }
  .window {
    .box {
      padding: 10px;
      border: 3px solid white;
    }
  }
}
