@font-face {
  font-family: 'tanek';
  src: url("../font/Tanek.otf"); }
@font-face {
  font-family: 'rockSalt';
  src: url("../font/RockSalt.ttf"); }
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'tanek', helvetica, sans-serif; }
  body h1 {
    font-weight: normal; }
  body .noClick {
    color: white; }
    body .noClick:hover {
      color: white; }
  body .jumbo {
    font-size: 4em; }
  body a {
    color: #BA141A;
    font-size: .8em;
    text-decoration: none; }
    body a:hover {
      color: #BA5C60; }
  body hr {
    border: none;
    height: 1px;
    background-color: #4A4A4A; }
  body ul {
    padding-left: 0;
    list-style-type: none; }

header {
  padding: 5px 10px; }
  header .logo {
    display: inline;
    font-size: 2em; }
    header .logo > img {
      height: 30px;
      display: inline; }
    header .logo span > img {
      position: relative;
      margin-bottom: 5px; }
  header .error {
    color: #BA141A;
    text-transform: lowercase;
    font-size: .7em;
    position: absolute;
    margin: 20px 0 0 65px;
    display: inline-block; }
  header ul {
    margin: 0;
    float: right; }
    header ul li {
      margin-left: 20px;
      display: inline; }
      header ul li a {
        font-size: 1em;
        color: white;
        font-family: 'rockSalt', helvetica, sans-serif; }

nav {
  border-bottom: 1px solid #BA141A;
  border-left: 1px solid #BA141A; }
  nav a {
    font-size: 1em;
    text-transform: uppercase; }
  nav ul {
    padding-left: 40px;
    margin: 15px 0 1px 0; }
    nav ul li {
      display: inline;
      margin-right: 20px;
      text-transform: uppercase; }

main {
  background-color: #141414;
  padding: 10px 30px; }

.admin {
  display: flex;
  justify-content: center;
  align-items: center; }
  .admin table {
    width: 80%; }
    .admin table img {
      height: 75px; }
    .admin table th {
      text-align: left;
      font-size: 1.3em; }

.teams {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .teams h1, .teams h3 {
    text-transform: uppercase; }
  .teams .skaters img {
    height: 75px; }

.join p {
  font-size: 1.3em;
  max-width: 50%; }
.join .info, .join form {
  display: flex;
  flex-direction: column;
  align-items: center; }
.join form {
  margin-top: 30px; }
  .join form .fields {
    width: 502px; }
  .join form fieldset {
    padding-left: 0;
    border: none; }
  .join form input[type="submit"] {
    margin-top: 10px; }
  .join form .radio input {
    margin-right: 15px; }
  .join form label {
    font-size: 1.3em;
    margin: 10px 0; }
.join h1 {
  font-size: 3em;
  margin-bottom: 16px; }

.splash {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px; }
  .splash h1 {
    z-index: 2;
    color: white;
    font-size: 3em;
    font-weight: normal; }
  .splash div {
    position: absolute;
    margin-left: 40px;
    max-width: 30%; }
    .splash div p {
      font-size: 1.5em;
      margin-bottom: 7px; }
    .splash div a {
      font-size: 1em; }
  .splash:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("http://fillmurray.com/900/600");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2; }
  .splash:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, black, transparent);
    content: '';
    width: 50%;
    height: 100%; }

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .profile .userimg {
    height: 200px; }
  .profile img {
    border: 3px solid white; }
  .profile section {
    max-width: 33%;
    min-width: 260px; }
  .profile h1 span {
    color: #4A4A4A; }
  .profile h1 .selected {
    color: white; }
  .profile .info ul {
    list-style-type: none; }
    .profile .info ul span {
      font-family: 'rockSalt', helvetica, sans-serif;
      margin-left: 5px; }
  .profile .gear ul li {
    clear: both;
    margin-bottom: 10px; }
    .profile .gear ul li span {
      text-transform: uppercase; }
    .profile .gear ul li .right {
      float: right; }
  .profile .gear .review a {
    display: block;
    clear: both;
    margin-top: 10px; }
  .profile .gear .review p > img {
    float: left;
    margin: 0 10px 0 0;
    max-height: 70px;
    border: 2px solid white;
    padding: 2px; }
  .profile .window .box {
    padding: 10px;
    border: 3px solid white; }

/*# sourceMappingURL=site.css.map */
