@font-face {
  font-family: 'tanek';
  src: url('../font/Tanek.otf');
}

@font-face {
  font-family: 'rockSalt';
  src: url('../font/RockSalt.ttf');
}

$greyed: #4A4A4A;
$blood: #BA141A;
$blood_select: #BA5C60;

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'tanek', helvetica, sans-serif;
  h1 {
    font-weight: normal;
  }
  .noClick {
    color: white;
    &:hover {
      color: white;
    }
  }
  .jumbo {
    font-size: 4em;
  }
  a {
    color: $blood;
    font-size: .8em;
    text-decoration: none;
    &:hover {
      color: $blood_select;
    }
  }
  hr {
    // border-bottom: 1px solid #979797;
    border: none;
    height: 1px;
    background-color: $greyed;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

header {
  padding: 5px 10px;
  .logo {
    display: inline;
    font-size: 2em;
    > img {
      height: 30px;
      display: inline;
    }
    span>img{
      position: relative;
      margin-bottom: 5px;
    }
  }
  ul {
    margin: 0;
    float: right;
    li {
      margin-left: 20px;
      display: inline;
      a {
        font-size: 1em;
        color: white;
        font-family: 'rockSalt', helvetica, sans-serif;
      }
    }
  }
}

nav {
  // border-top: 1px solid $blood;
  border-bottom: 1px solid $blood;
  border-left: 1px solid $blood;
  a {
    font-size: 1em;
    text-transform: uppercase;
  }
  ul {
    padding-left: 40px;
    margin: 15px 0 1px 0;
    li {
      display: inline;
      margin-right: 20px;
      text-transform: uppercase;
    }
  }
}

main {
  background-color: rgb(20,20,20);
  padding: 10px 30px;
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  table {
    width: 80%;
    img {
      height: 75px;
    }
    th {
      text-align: left;
      font-size: 1.3em;
    }
  }
}

.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1, h3 {
    text-transform: uppercase;
  }
  .skaters {
    img {
      height: 75px;
    }
  }
}

.join {
  p {
    font-size: 1.3em;
    max-width: 50%;
  }
  .info, form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    .fields {
      width: 502px;
    }
    fieldset {
      padding-left: 0;
      border: none;
    }
    input[type="submit"]{
      margin-top: 10px;
    }
    margin-top: 30px;
    .radio {
      input {
        margin-right: 15px;
      }
    }
    label {
      font-size: 1.3em;
      margin: 10px 0;
    }
  }
  h1 {
    font-size: 3em;
    margin-bottom: 16px;
  }
}


.splash{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px;

  h1 {
    z-index: 2;
    color: white;
    font-size: 3em;
    font-weight: normal;
  }
  div {
    position: absolute;
    margin-left: 40px;
    max-width: 30%;
    p {
      font-size: 1.5em;
      margin-bottom: 7px;
    }
    a {
      font-size: 1em;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('http://fillmurray.com/900/600');
    background-size: cover;
    // background-position-y: -50px;
    background-repeat: no-repeat;
    z-index: -2;
  }
  &:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0));
    content: '';
    width: 50%;
    height: 100%;
  }
}

// .test {
//   width: 90px;
//   height: 60px;
//   background-image: url('http://fillmurray.com/g/900/600');
//   background-size: contain;
// }

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .userimg {
    height: 200px;
  }
  img {
    border: 3px solid white;
  }
  section{
    max-width: 33%;
    min-width: 260px;
  }
  h1 {
    span {
      color: $greyed;
    }
  }
  .info {
    ul {
      list-style-type: none;
      span {
        font-family: 'rockSalt', helvetica, sans-serif;
        margin-left: 5px;
      }
    }
  }
  .gear {
    ul {
      li {
        clear: both;
        margin-bottom: 10px;
        .right {
          float: right;
        }
      }
    }
    .review > p > img {
      float: left;
      margin: 0 10px 0 0;
      max-height: 70px;
      border: 2px solid white;
      padding: 2px;
    }
  }
  .window {
    .box {
      padding: 10px;
      border: 3px solid white;
    }
  }
}
